.dropbtn {
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    transition: .6s;
  }
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .nav-btn{
      height: 2rem;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:transparent; color: green;}
  .dropbtn:hover span {display:none}
  .dropbtn:hover:before {content:"Services ∧"}
  a{
      text-decoration: none;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
  }
  a:hover{
      color: rgb(64, 173, 60);
  }
  .navbar-items{
      padding: 1% 1.7%;
  }
  .brand-logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: transparent;
    font-size: 1.9rem;
    padding:0 14%;
  }
  .brand-logo:hover{ color: white;}
  .navbar{
      padding:0% 0 0 3%;
  }
  .signup-btn{
      background-color: rgb(90, 199, 68);
      border: transparent;
      padding: 0.8% 1%;
      color: white;
      font-weight: bolder;
  }
  @media (max-width: 68rem) {
    .navbar {
    display: none;
    }
    }
    @media (min-width: 68rem) {
        .navbar2 {
        display: none;
        }
        }
    .brand-logo2{
        font-size: 2rem;
        padding: 2%;
    }
    .brand-logo3{
      font-size: 2rem;
      color: black;
      padding-left: 6rem;
  }
    .menu-bar{
      display: none; 
      width: 20rem;
      height: 20rem;
      background-color: white;
    }
    .menu-items{
      color: black;
      line-height: 3rem;
      position: relative;
      left: 3rem;
    }
    .menu-div{
      position: absolute;
      right: 1rem;
      top: 1rem;
      padding: 0 0 0 5rem;
      z-index: 2;
    }
    * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 110rem;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.car-1{
  background-image: url("carousel3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.car-2{
  background-image: url("carousel2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.car-3{
  background-image: url("carousel1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #ffffff;
  font-weight: 500;
}
.intro{
  padding: 5rem;
  width: 60%;
  transition-delay: 2s;
  color: #ffffff;
}
p{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 1.5;
}
@media (max-width:50rem){
  h1{
    font-size: 2rem;
  }
  p{
    font-size: 1rem;
    font-weight: 600;
  }
  .intro{
    width: 100%;
    padding: 3rem 1rem;
  }
}
.about-btn{
  background-color: black;
  color: #ffffff;
  border: transparent;
  padding: 1rem 1.4rem;
  border-radius: 4%;
}
button:hover{
  cursor: pointer;
}
.intro-3{
  width: 45%;
  position: relative;
  top: 20%;
  left: 27%;
  text-align: center;
}
#two{
  color: black;
  padding: 10% 5% 0 5%;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3rem;
  font-weight: lighter;
}

.sec2-intro{
  width: 40%;
}
.view-more{
  background-color: rgb(107, 247, 94);
  color: #ffffff;
  border: transparent;
  padding: 1rem 1.4rem;
  border-radius: 4%;

}
h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.feature-box{
  width: 50%;
  padding: 5%;
  margin: 5% 0;
}
.arrow{
  color: #ffffff;
}
.feature-box:hover{
  background-color:  rgb(107, 247, 94);
  color: #ffffff;
  transition: .5s;
  border-radius: 3%;
}
.feature-container{
  width: 60%;
  position: relative;
  left: 45%;
  bottom: 23rem;
  padding-bottom: 0;
}
.f1{
  position: absolute;
  left: 50%;
}
.f4{
  position: absolute;
  top: 50%;
  left: 50%;
}

#three{
  position: relative;
  bottom: 15rem;
}
.sec3-img1{
  width: 65%;
}
.sec3-a{
  color: dimgray;
}
.sec3-a:hover{
  cursor: pointer;
  color: rgb(107, 247, 94);
}
.sec3-div{
  margin-left: 10%;
  width: 50%;
  height: 50%;
}
.sec3-img2{
  width: 65%;
}
.boxes{
  width: 50%;
}
.box2{
  position: relative;
  left: 50%;
  bottom: 13rem;
}
.sec3-intro{
  width: 40%;
  position: absolute;
  top: 0;
  left: 60%;
}
.boxes:hover{
  width: 60%;
  transition: .7s;
}
.text-green{
  color: rgb(107, 247, 94);
}
button{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
.view-more3{
  color:  rgb(107, 247, 94);
  margin: 2% 0 0 0;
  border-color:  rgb(107, 247, 94);
  padding: 2% 6%;
  background-color: white;
}
.view-more3:hover{
  background-color: rgb(107, 247, 94);
  color: #ffffff;
}
.div-four{
  width: 50%;
  padding: 0 5%;

}
.learn-more{
  background-color:  rgb(107, 247, 94);
  color: #ffffff;
  border: transparent;
  padding: 3% 7%;
  border-radius: 2%;
}
.contact-us{
  background-color: white;
  color: black;
  border: transparent;
  padding: 3% 7%;
  border-radius: 2%;
}
strong{
  font-family: 'Montserrat', sans-serif;
}
.tony-img{
  position: relative;
  top: -37rem;
  left: 25rem;
  width: 140%;
}
hr{
  position: relative;
  top: -30rem;
  color: #717171;
}
.final{
  position: relative;
  top: -20rem;
  text-align: center;
}
.linkdn{
  text-align: center;
  color: black;
  font-size: 1.5rem;
  position: relative;
  top: -16rem;
  left: 32rem;
  padding: 1% 3%;
}
.linkdn:hover{
  color: white;
  background-color: rgb(121, 252, 117);
  padding: 1% 3%;
}
@media (max-width: 50rem){
  .final{
    position: absolute;
    left: 0;
    top: 270rem;
    font-size: 1.9rem;
  }
  .linkdn{
    position: absolute;
    top: 280rem;
    left: 32%;
  }
  .div-four{
    width: 100%;
    position: relative;
    top: 150rem;

  }
  .tony-img{
    position: absolute;
    left: 0;
    width: 100%;
    top: 120%;
  }
  hr{
    display: none;
  }
  .boxes{
    width: 150%;
    padding: 10%;

  }
  .boxes:hover{
    width: 160%;
  }
  .box2{
    position:absolute;
    left: 0;
    top: 22rem;
  }
  .sec3-intro{
    position: absolute;
    left: 10%;
    top: 135rem;
    width: 80%;
  }
  .sec3-div{
    position: absolute;
    bottom: -90rem;
  }
  .sec2-intro{
    width: 100%;
    display: block;
    padding-bottom: 10%;
  }
  .feature-container{
    position: relative;
    bottom: 70%;
    left: 0;
  }
  .feature-box{
    width: 100%;
    padding-bottom: 2%;
  }
  .f1{
    position: absolute;
    left: 0;
  }
  .f2{
    position: absolute;
    top: 16rem;
  }
  .f3{
    position: absolute;
    top: 32rem;
  }
  .f4{
    position: absolute;
    top: 48rem;
    left: 0;
  }
}